{{#each this}}
  <div class='country-info'>
    <h2 class='country-title'>
      <img
        class='country-img'
        src='{{flags.svg}}'
        alt='{{name}}'
        width='30'
        height='30'
      />

      {{name}}
    </h2>

  </div>
{{/each}}